/*Ruban animation*/
div#twitter:hover, div#codepen:hover, div#google:hover {
    animation-duration: 1s;
	animation-name: glissement;
	animation-iteration-count: infinite;
}
@keyframes glissement {
	from {
		margin-right: 0px;
	}

	to {
		margin-right: -75px;
	}
}
div#facebook:hover {
    animation-duration: 1s;
	animation-name: fb-glissement;
	animation-iteration-count: infinite;
}
@keyframes fb-glissement {
	from {
		margin-right: 0px;
	}

	to {
		margin-right: -120px;
	}
}