/*Général*/
h1{
  font-size: 1.5em!important;
}
h2{
  font-size: 1.4em!important;
}
/*Rubans*/
#links{
  position: fixed;
  top: 250px;
  margin-left: -95px;
  z-index: 1;
}
.Ruban{
  width: auto;
  border-radius: 0 20px 20px 0;
  text-align: right;
}
.Ruban > span{
  margin-right: 10px;
  margin-left: 10px;
}
.Ruban > span > a{
  color: #ffffff;
}
#links .fab{
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 1vh;
  margin: 0px 0px 5px 10px;
}
#links .fa-facebook-f{
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
}
#twitter{
  background-color: #26A3EF;
  padding-top: 1.1vh;
  margin-top: 1vh;
}
#facebook{
  background-color: #3F6092;
  padding-top: 1.1vh;
  margin-top: 1vh;
}
#codepen{
  background-color: #E44A85;
  padding-top: 1.1vh;
  margin-top: 1vh;
}
#google{
  background-color: #DC4A41;
  padding-top: 1.1vh;
  margin-top: 1vh;
}
/*Ruban animation*/
div#twitter:hover, div#codepen:hover, div#google:hover {
    animation-duration: 1s;
  animation-name: glissement;
  animation-iteration-count: infinite;
}
@keyframes glissement {
  from {
    margin-right: 0px;
  }

  to {
    margin-right: -75px;
  }
}
div#facebook:hover {
  animation-duration: 1s;
  animation-name: fb-glissement;
  animation-iteration-count: infinite;
}
@keyframes fb-glissement {
  from {
    margin-right: 0px;
  }

  to {
    margin-right: -120px;
  }
}
/*Footer*/
footer {
  background-color: #000000;
}
footer h2, footer p, footer li, footer i {
  color: #ffffff;
  background-color: #000000!important;
}
footer .container-fluid h2, footer .container-fluid #linksfooter {
    margin: auto;
}
footer ol{
    padding-left: 0;
}
.sm-img{
  margin-top: -8px;
  width: 100%;
  height: 50px;
  overflow: hidden;
}

.sm-img > img{
  width: 100%
}

#smimgallezcine .col-4 {
    padding: 0;
}

#smimgallezcine img {
    margin: 0;
    padding: 0;
}

footer .badge-secondary {
  padding: 5px;
  margin: 2px;
}
